# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Foxhole.iml
# Datasource local storage ignored files
/../../../../../../:\Github\Foxhole\.idea\.idea.Foxhole\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
